@page "/"
@inject NavigationManager NavigationManager

<h1>Hello, world!</h1>

<button type="submit" class="btn btn-primary" @onclick=" CreateContactForm">Contact Form</button>

@code {

    void CreateContactForm()
    {
        NavigationManager.NavigateTo("/contact");
    }
}
